

#tem{

font-weight: bold;
font-size: 5rem   ;
margin-left: 15rem;
letter-spacing: 0.2rem;
}


#city{

font-weight: bolder;
font-size: 3rem;
letter-spacing: 0.5px;
}

#date{

font-weight: 700;
margin-top: 1rem;
font-size: 1.5rem;
letter-spacing: 0.5px;
}


#time{

font-weight: 700;
/* margin-top: 0.5rem; */
font-size: 1.5rem;
letter-spacing: 0.5px;
}
#country{

font-weight: 500;
/* margin-top: 0.5rem; */
font-size: 1.5rem;
letter-spacing: 0.5px;
}

